*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  padding: 2rem; }

.btn {
  font-size: 1.6rem; }
  .btn-detail {
    border: 1px solid green;
    border-radius: 5px; }
    .btn-detail:hover {
      color: white;
      background: green; }
    .btn-detail:focus {
      outline: none; }

.footer {
  background-color: #ccc; }

.item {
  padding: 2rem; }

.cart-img {
  max-width: 10rem;
  max-height: 10rem;
  border-radius: 1rem; }

.cart-area {
  min-height: 80vh;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(40, 40, 40, 0.1);
  border-radius: 1rem;
  position: relative; }

.cart-title {
  padding-left: 2rem;
  padding-top: 2rem; }

.cart .cart-products-0 {
  position: absolute;
  background: url("../../img/cart-empty.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 30rem;
  width: 30rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%; }

.cart .cart-products-1 table thead {
  background-color: rgba(0, 0, 0, 0.1); }

.cart .cart-products-1 table tbody .btn-outline-buy {
  white-space: nowrap;
  font-size: 1.6rem;
  color: #fdffe2;
  border: 1px solid #caca00; }
  .cart .cart-products-1 table tbody .btn-outline-buy:hover {
    background-color: #caca00; }

.cart .cart-products-1 table tbody .btn-outline-remove {
  white-space: nowrap;
  font-size: 1.6rem;
  color: white;
  border: 1px solid #ca7a76; }
  .cart .cart-products-1 table tbody .btn-outline-remove:hover {
    background-color: #ca7a76; }

.heading {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 4rem auto;
  text-align: center;
  font-weight: 100;
  letter-spacing: 20px; }

.slide-show {
  width: 100%; }

.product-box {
  margin-bottom: 5rem;
  width: 25rem;
  height: 25rem; }
  .product-box img {
    width: 100%;
    max-height: 10rem; }

.detail {
  margin: 3rem auto; }
  .detail-img {
    width: 100%;
    height: 100%; }

.login {
  max-width: 50rem;
  margin: 10rem auto;
  border: 1px solid #000000;
  padding: 2rem; }

.form-control {
  font-size: 1.6rem; }

.form-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1rem; }

.navbar {
  color: white;
  background-color: red;
  font-size: 1.6rem;
  padding: 2rem;
  border-radius: 10px; }

li.nav-item.dropdown {
  list-style-type: none;
  color: white; }

.dropdown-item {
  font-size: 1.6rem; }

.nav-link, .nav-link:hover {
  font-size: 2rem;
  color: white; }

.navbar-brand {
  color: white; }

.admin {
  min-height: 50rem;
  margin-top: 2rem; }

.panel-card-link {
  font-size: 3rem;
  text-decoration: none;
  color: #000000;
  border: 1px solid black;
  padding: 1rem;
  border-radius: .5rem;
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-transform: capitalize; }
  .panel-card-link:hover {
    color: white;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.64); }
  .panel-card-link span {
    display: block;
    text-align: center; }

.search-area {
  margin: 5rem 0; }

.search-form {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 1rem 5rem; }
  .search-form form {
    width: 30rem;
    margin: 0 auto; }

.display-area {
  border: 1px solid rgba(0, 0, 0, 0.25);
  min-height: 50rem;
  padding: 2rem;
  overflow-y: scroll; }

.address-box {
  background: rgba(204, 204, 204, 0.2);
  padding: 2rem;
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  border-radius: 1rem; }

.confirm-order-product-box {
  background: #a3cccc;
  padding: 5rem 10rem;
  border-radius: .5rem;
  margin: 5rem 0; }
  .confirm-order-product-box img {
    width: 10rem;
    height: 10rem;
    border-radius: .3rem; }
