.navbar{
    color:white;
    background-color: red;
    font-size: 1.6rem;
    padding: 2rem;
  
}

li.nav-item.dropdown{
  list-style-type: none;
  color: white;
}
 .dropdown-item{
    font-size: 1.6rem;
//   background: #ccc;
  }

 .nav-link, .nav-link:hover{
   font-size: 2rem ;
   color: white;
 }

 .navbar-brand{
   color: white;
 }

